<html>
  <head>
    <title>The Gossip Project</title>
  </head>
  <body>
    <h1>Welcome to The Gossip Project</h1>

    <a href="/gossips/new/">Create New Gossip!</a>
    <% gossips.each do |gossip| %>
        <p>
          <%= gossip.author %><br/>
          <%= gossip.content %>
        </p>
      <% end %>
  </body>
</html>